<div class="profile-container">
    <div class="tabs-profile">
        <div class="tab-profile-item active">
            <span>Profile</span>
        </div>
        <div class="tab-profile-item">
            <span>Edit information</span>
        </div>
        <div class="tab-profile-item">
            <span>Change password</span>
        </div>
    </div>
    <div class="tabs-profile-content">
        <div class="tab-profile-pane active">
            <div class="profile-user">
                <div class="profile-user-avatar">
                    <% if(user.avatar) { %> 
                    <img src="<%= user.avatar %>" alt="">
                    <% } else { %>
                    <img src="/images/noavatar.svg" alt="">
                    <% } %>
                </div>
                <div class="profile-user-info">
                    <div class="profile-input">
                        <span class="profile-label">User Name</span>
                        <span class="profile-content"><%= user.name %></span>
                    </div>
                    <div class="profile-input">
                        <span class="profile-label">Contact</span>
                        <span class="profile-content"><%= user.email %></span>
                    </div>
                    <div class="profile-input">
                        <span class="profile-label">Address</span>
                        <span class="profile-content"><%= user.address %></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-profile-pane">
            <form action="/profile/update?_method=PUT" method="POST" class="form-edit" enctype="multipart/form-data">
                <div class="form-edit-avatar">
                    <!-- <img alt="" id="uploadPreview"> -->
                    <% if(user.avatar) { %> 
                    <img src="<%= user.avatar %>" alt="" id="image-preview">
                    <% } else { %>
                    <img src="/images/noavatar.svg" alt="" id="image-preview">
                    <% } %>
                    <div class="image-edit">
                        <i class="ri-image-edit-line"></i>
                        <input id="file-upload" name="avatar" type="file" class="file-upload" >
                    </div>
                </div>
                <div class="form-edit-information">
                    <div class="input-edit">
                        <label for="">First Name</label>
                        <input type="text" name="firstname" value="<%= user.firstname ? user.firstname : '' %>">
                    </div>
                    <div class="input-edit">
                        <label for="">Last Name</label>
                        <input type="text" name="lastname" value="<%= user.lastname ? user.lastname : '' %>">
                    </div>
                    <div class="input-edit">
                        <label for="">User Name</label>
                        <input type="text" name="name" value="<%= user.name %>">
                    </div>
                    <div class="input-edit">
                        <label for="">Email</label>
                        <input type="text" name="email" value="<%= user.email %>">
                    </div>
                    <div class="input-edit">
                        <label for="">Address</label>
                        <input type="text" name="address" value="<%= user.address ? user.address : '' %>">
                    </div>
                    <div class="btn-handle">
                        <button class="btn-change-profile">Change</button>
                        <a href="#"><button class="btn-cancel">Cancel</button></a>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-profile-pane">
            <form action="/profile/change/password?_method=PUT" method="POST">
                <div class="input-edit">
                    <label for="">Current Password</label>
                    <input type="password" name="currentpassword">
                </div>
                <div class="input-edit">
                    <label for="">New Password</label>
                    <input type="password" name="password">
                </div>
                <div class="input-edit">
                    <label for="">Confirm Password</label>
                    <input type="password" name="confirmpassword">
                </div>
                <div class="btn-handle">
                    <button class="btn-change-profile">Change</button>
                    <a href="#"><button class="btn-cancel">Cancel</button></a>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    const fileUpload = document.getElementById('file-upload');
    const imagePreview = document.getElementById('image-preview');
    function previewImage(e) {
        let fileReader = new FileReader();

        fileReader.onload = function() {
            imagePreview.src = fileReader.result;
        }
        fileReader.readAsDataURL(e.target.files[0])
    }

    fileUpload.onchange = function(e) {
        previewImage(e);
    }
</script>